.loginContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.checkBoxDiv {
  display: flex;
  align-items: center;
  padding: 1rem;
}
.checkbox  {
  margin: 0 1rem 0 1rem
}
.routine {
  margin: 1rem;
  padding: .5rem;
  border: 1px black;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.routine:hover{
  box-shadow: 0 8px 16px 0  #854CEA
}