.loginContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.checkBoxDiv {
  display: flex;
  align-items: center;
  padding: 1rem;
}
.checkbox  {
  margin: 0 1rem 0 1rem
}